<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">

	<Properties>
		<Property name="LOG_PATTERN">%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} %p %m%n
		</Property>
		<Property name="APP_LOG_ROOT">/var/log/autogat</Property>
	</Properties>

	<Appenders>
		<Console name="Console">
			<PatternLayout>
				<PatternLayout pattern="${LOG_PATTERN}" />
			</PatternLayout>
		</Console>
		<File name="FileAppender" fileName="${APP_LOG_ROOT}/autogat-service.log">
			<PatternLayout>
				<PatternLayout pattern="${LOG_PATTERN}" />
			</PatternLayout>
		</File>
	</Appenders>
	<Loggers>
		<Logger name="com.ten31f.autogatalog"
			additivity="false" level="info">
			<AppenderRef ref="Console" />
			<AppenderRef ref="FileAppender" />
		</Logger>
		<Root level="error">
			<AppenderRef ref="Console" />
			<AppenderRef ref="FileAppender" />
		</Root>
	</Loggers>
</Configuration>