body {
	background-color: #000000;
}

h1 {
	color: #FFFFFF;
	text-align: center;
	text-transform: uppercase;
	font-size: 10vh;
}

h2 {
	color: #FFFFFF;
	width: 100%;
	text-align: center;
	font-size: 3vh;
}

h3 {
	color: #FFFFFF;
	width: 100%;
	text-align: center;
	font-size: 3vh;
}

main {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	float: right;
}

header {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	float: right;
}

aside {
	float: left;
	width: 18%;
}

aside img {
	width: 100%;
}

aside a img {
	width: 100%;
}

section {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

section header {

	width: 100%;
	text-align: center;

}

section header h2 {
	color: #FFFFFF;
	width: 100%;
	text-align: center;
	font-size: 5vh;
	font-size: 5vh;
	text-transform: uppercase;
	margin: 0px;
}

article ul {
	width: 100%;
	list-style: none;
	margin: 0px;
}

article ul li {
	display: inline-block;
}

article ul li a img {
	width: 30px;
	border-radius: 5px;
}

.alert {
	color: orangered;
	font-size: 1rem;
}

ol li {
	color: orangered;
	font-size: 1rem;
	list-style: none;
}