h1 {
	color: #F1D4D4;
	width: 100%;
	text-align: center;
	font-size: 10vh;
}

aside {
	float: left;
	width: 18%;
}



aside ul {
	list-style: none;
	color: #F1D4D4;
	font-weight: bold;
	font-size: 1rem;
	text-transform: uppercase
}

aside ul a {
	text-decoration: none;
}

aside ul a li {
	text-decoration: none;
	color: #F1D4D4;
}

article {
	width: 20%;
	border-radius: 25px;
	margin: 5px;
	text-align: center;
}

article a header {
	width: 100%;
}

article a {
	text-decoration: none;
}

article a header h3 {
	width: 100%;
	margin: 0px;
	color: #F1D4D4;
	font-size: 2em;
}

article a figure {
	width: 100%;
	margin: 0px;
}

article a figure img {
	width: 100%;
	border-radius: 25px;
}

article ul {
	list-style: none;
	margin: 0px;
}

article ul li {
	display: inline-block;
}

article a img {
	width: 30px;
	border-radius: 5px;
}