<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

	<nav>
		<div class="nav-logo">
			<a th:href="@{/}"><img th:src="@{/img/logo.png}" alt="logo" /></a> <a
				th:href="@{/}"><h3>AutoGataLog</h3></a>
		</div>
		<div class="nav-search">
			<form th:action="@{/search}" method="post">
				<input type="text" id="formString" name="formString"
					th:value="${searchString}" /> <input type="image"
					th:src="@{/img/magnifying-glass.png}" alt="submit" />
			</form>
		</div>
		<div class="nav-links">
			<ul>
				<li><a th:href="@{/}">Home</a></li>
				<li><a th:href="@{/index}">Index</a></li>
				<li><a th:href="@{/search}">Search</a></li>
				<li><a th:href="@{/tag}">Tags</a></li>
			</ul>
		</div>
	</nav>

</body>