<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Add new WatchURL</title>
<link th:href="@{/css/common.css}" rel="stylesheet" />
<link th:href="@{/css/nav.css}" rel="stylesheet" />
<link th:href="@{/css/watchURL.css}" rel="stylesheet" />
</head>

<body>

	<nav th:replace="~{fragments/nav.html :: nav}"></nav>
	<main>

		<p th:text="${message}" th:if="${message ne null}"
			class="alert alert-primary"></p>


		<section>
			<article>
				<header>
					<h2>Watch URLs</h2>
				</header>

				<form method="post" th:action="@{/watch/add}"
					enctype="multipart/form-data">
					<div class="form-group">
						<input class="form-control" type="text" name="rssURL" id="rssURL" />
					</div>
					<button type="submit" class="btn btn-primary">Submit</button>
				</form>

				<table>
					<tr>
						<th>ID</th>
						<th>RSS URL</th>
						<th>Last Checked Date</th>
					</tr>
					<tr th:each="watchURL: ${watchURLs}">
						<td th:text="${watchURL.id}"></td>
						<td th:text="${watchURL.rssURL}"></td>
						<td th:text="${watchURL.lastCheck}"></td>
						<td><a th:href="@{'/watch/delete/' + ${watchURL.id}}">Delete</a></td>
					</tr>
				</table>

			</article>

		</section>

	</main>

</body>

</html>