<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title th:text="${appName}"></title>
<link th:href="@{/css/common.css}" rel="stylesheet" />
<link th:href="@{/css/index.css}" rel="stylesheet" />
</head>

<body>

	<header>
		<h1 th:text="${appName}"></h1>
	</header>

	<aside th:replace="~{fragments/aside.html :: aside}"></aside>

	<main>

		<section>
			<header>
				<h2 th:text="${author}" />
			</header>

			<article th:each="gat: ${gats}" th:with="guid=${gat.guid}">
				<a th:href="@{'/gat/' + ${gat.guid}}">
					<figure>
						<img th:if="${imageStrings.containsKey(guid)}"
							th:src="@{'data:image/jpeg;charset=utf-8;base64,'+ ${imageStrings.get(guid)}}"
							alt="preview">
					</figure> <header>
						<h3 th:text="${gat.title}" />
					</header>

					<ul>
						<li><a th:href="${gat.linkURL}"> <img alt="odysee logo"
								class="download" th:src="@{'/img/odysee.jpg'}" />
						</a></li>
						<li><a th:href="@{'/download/' + ${guid}}"> <img
								alt="download icon" class="download"
								th:src="@{'/img/download.png'}" />
						</a></li>
					</ul>

				</a>
			</article>
		</section>
	</main>

</body>

</html>