<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title th:text="${appName}" />
	<link th:href="@{/css/common.css}" rel="stylesheet" />
	<link th:href="@{/css/image-upload.css}" rel="stylesheet" />
</head>

<body>

	<header>
		<h1 th:text="${appName}" />
	</header>

	<aside>
		<a th:href="@{/}">
			<img th:src="@{/img/logo.png}" alt="logo" />
		</a>
	</aside>

	<main>

		<p th:text="${message}" th:if="${message ne null}" class="alert alert-primary"></p>

		<section class="my-5">

			<article th:each="gat: ${gats}" th:with="guid=${gat.guid}">


				<header>
					<h3 th:text="${gat.title}" />
				</header>

				<ul>
					<li>
						<a th:href="${gat.linkURL}">
							<img alt="odysee logo" class="download" th:src="@{'/img/odysee.jpg'}" />
						</a>
					</li>
					<li>
						<a th:href="@{'/download/' + ${guid}}" th:if="${gat.fileObjectID ne null}" >
							<img alt="download icon" class="download" th:src="@{'/img/download.png'}" />
						</a>
					</li>
				</ul>

				<a th:href="@{'/gat/' + ${gat.guid}}" th:text="${gat.guid}"></a>

				<form method="post" th:action="@{'/image/upload/' + ${gat.guid}}" enctype="multipart/form-data">
					<div class="form-group">
						<input type="file" name="file" class="form-control-file">
					</div>
					<button type="submit" class="btn btn-primary">Upload File</button>
				</form>


			</article>

		</section>

	</main>

</body>

</html>