<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title th:text="${appName}"/>
	<link th:href="@{/css/common.css}" rel="stylesheet" />
	<link th:href="@{/css/index.css}" rel="stylesheet" />
</head>

<body>

	<header>
		<h1 th:text="${appName}" />
	</header>

	<aside>
		<img th:src="@{/img/logo.png}" alt="logo" />
		<ul>
			<a th:each="entry: ${gatMap}" th:href="'#'+${entry.key}">
				<li th:text="${entry.key}"></li>
			</a>
		</ul>
		<ul>
			<a th:href="@{/image}">
				<li>image upload</li>
			</a>
			<a th:href="@{/orphan}">
				<li>orphans</li>
			</a>
			<a th:href="@{/watch}">
				<li>Watch URL</li>
			</a>
		</ul>

	</aside>

	<main>
		<h2>Gats(<span th:text="${gatCount}"></span>)</h2>
		<section th:each="entry: ${gatMap}">
			<header>
				<a th:id="'#'+${entry.key}">
					<h2 th:text="${entry.key}" />
				</a>
			</header>
			<article th:each="gat: ${entry.value}" th:with="guid=${gat.guid}">
				<a th:href="@{'/gat/' + ${guid}}">
					<figure>
						<img th:if="${imageStrings.containsKey(guid)}"
							th:src="@{'data:image/jpeg;charset=utf-8;base64,'+ ${imageStrings.get(guid)}}"
							alt="preview">
					</figure>

					<header>
						<h3 th:text="${gat.title}" />
					</header>
				</a>

				<ul>
					<li>
						<a th:href="${gat.linkURL}">
							<img alt="odysee logo" class="download" th:src="@{'/img/odysee.jpg'}" />
						</a>
					</li>
					<li>
						<a th:href="@{'/download/' + ${guid}}">
							<img alt="download icon" class="download" th:src="@{'/img/download.png'}" />
						</a>
					</li>
				</ul>
			</article>
		</section>
	</main>

</body>

</html>