<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="UTF-8">

<title th:text="${appName}"></title>

<link th:href="@{/css/common.css}" rel="stylesheet" />
<link th:href="@{/css/nav.css}" rel="stylesheet" />
<link th:href="@{/css/orphan.css}" rel="stylesheet" />

</head>

<body>

	<nav th:replace="~{fragments/nav.html :: nav}"></nav>

	<main>

		<section>

			<h1 th:text="${orphanCount} +'/' + ${count}"></h1>

			<p th:text="${message}" th:if="${message ne null}"></p>

			<form method="post" th:action="@{/orphan/deleteAll}"
				enctype="multipart/form-data">
				<button type="submit" class="btn btn-primary">Delete All</button>
			</form>

			<article th:each="orphan: ${orphanFiles}">
				<ul>
					<li>File Name: <span th:text="${orphan.filename}"></span></li>
					<li>Metadata: <span th:text="${orphan.metadata}"></span></li>
					<li>ObjectID: <span th:text="${orphan.objectId}"></span></li>
					<li>Upload Date: <span th:text="${orphan.uploadDate}"></span></li>
					<li>ID: <span th:text="${orphan.id}"></span></li>
				</ul>
				<form method="post" th:action="@{/orphan/delete}"
					enctype="multipart/form-data">
					<input type="hidden" th:value="${orphan.id.value}" name="id" />
					<button type="submit" class="btn btn-primary">Delete</button>
				</form>
			</article>

		</section>

	</main>

</body>

</html>