<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title th:text="${appName}"></title>
<link th:href="@{/css/common.css}" rel="stylesheet" />
<link th:href="@{/css/index-grid.css}" rel="stylesheet" />
<link th:href="@{/css/nav.css}" rel="stylesheet" />
</head>

<body>

	<nav th:replace="~{fragments/nav.html :: nav}"></nav>

	<main>

		<section th:insert="~{fragments/taglist.html :: ul}"></section>

		<section class="indexGrid" th:if="${taggedcount != 0}">
			<header>
				<h2>Tagged</h2>
			</header>
			<article th:each="gat: ${taggedgats}" th:with="guid=${gat.guid}">
				<ul>
					<li><a th:href="${gat.linkURL}"> <img alt="odysee logo"
							class="download" th:src="@{'/img/odysee.jpg'}" />
					</a></li>
					<li><a th:href="@{'/download/' + ${guid}}"><img
							alt="download icon" class="download"
							th:src="@{'/img/download.png'}" /> </a></li>
				</ul>
				<figure>
					<a th:href="@{'/gat/' + ${gat.guid}}"> <img
						th:if="${imageStrings.containsKey(guid)}"
						th:src="@{'data:image/jpeg;charset=utf-8;base64,'+ ${imageStrings.get(guid)}}"
						th:id="${guid}" alt="preview" />
					</a>
				</figure>
				<header>
					<a th:href="@{'/gat/' + ${gat.guid}}">
						<h3 th:text="${gat.title}"></h3>
					</a>
				</header>
				<div>
					<a th:href="@{'/author/' + ${gat.author}}"> <img
						class="authoricon" alt="Author" th:src="@{'/img/writer.png'}">
						<h3 th:text="${gat.author}"></h3>
					</a>
				</div>
			</article>
		</section>

		<section class="indexGrid" th:if="${searchcount != 0}">
			<header>
				<h2>Potential Untagged</h2>
			</header>

			<article th:each="gat: ${searchedgats}" th:with="guid=${gat.guid}">
				<ul>
					<li><a th:href="${gat.linkURL}"> <img alt="odysee logo"
							class="download" th:src="@{'/img/odysee.jpg'}" />
					</a></li>
					<li><a th:href="@{'/download/' + ${guid}}"><img
							alt="download icon" class="download"
							th:src="@{'/img/download.png'}" /> </a></li>
					<li><a th:href="@{'/addTag/' + ${guid} + '/' + ${tag}}"> <img
							alt="download icon" class="download" th:src="@{'/img/tag.png'}" />
					</a></li>
				</ul>
				<figure>
					<a th:href="@{'/gat/' + ${gat.guid}}"> <img
						th:if="${imageStrings.containsKey(guid)}"
						th:src="@{'data:image/jpeg;charset=utf-8;base64,'+ ${imageStrings.get(guid)}}"
						th:id="${guid}" alt="preview" />
					</a>
				</figure>
				<header>
					<a th:href="@{'/gat/' + ${gat.guid}}">
						<h3 th:text="${gat.title}"></h3>
					</a>
				</header>
				<div>
					<a th:href="@{'/author/' + ${gat.author}}"> <img
						class="authoricon" alt="Author" th:src="@{'/img/writer.png'}">
						<h3 th:text="${gat.author}"></h3>
					</a>
				</div>
			</article>
		</section>
	</main>




</body>